.ant-form-item-explain {
  text-align: left;    
  color: var(--error);        
  font-size: 0.85rem;
  margin-top: 0.1rem;
}

.ant-form-item-label {
  font-weight: 500;      
  padding-bottom: 5px !important; 
}

.ant-form-item-control-input-content {
  text-align: left;
}
