.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 2rem;
  background: var(--gray-0);
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  // min-height: 100vh;


  h1 {
    text-align: center;
    margin-bottom: 2rem;
  }
}
