.stepContent {
  line-height: 260px;
  text-align: center;
  border-radius: 8px;
  border: 1px dashed var(--step-border);
  margin-top: 16px;
  background-color: var(--step-bg);
  color: var(--step-text-tertiary);
}

.stepButtons {
  margin-top: 24px;

  .prevBtn {
    margin: 0 8px;
  }
}
