#root {
  margin: 0 auto;
}

.main-content {
  background-color: var(--gray-0);
  padding: 1rem;
}

.container {
  margin: 0 auto;
  padding: 10px 2rem;
  background: var(--gray-0);
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  @media (min-width: 1024px) {
    max-width: 1200px;
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    max-width: 850px;
  }
}

h1 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 2rem;
  color: var(--primary-text);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.btn-responsive {
  width: 100%;        
  display: inline-flex; 
  justify-content: center;
  box-sizing: border-box;
  margin-top: auto;
  min-width: 90px;

  @media (min-width: 1024px) { 
    width: auto;         
  }

}

.btn {
  border-radius: 16px;
  padding: 18px 15px;
  font-size: 15px;
}

.btn-sm {
  padding: 12px 10px;
  font-size: 12px;
}

.btn-primary {
  background: var(--primary-button);
  color: var(--primary-button-text);
  border-radius: 16px !important;
  &:hover {
    background: var(--primary-button-hover) !important;
    color: var(--white) !important
  }
}

.btn-secondary {
  background: var(--secondary-button);
  color: var(--white);
  border-radius: 16px !important;
  border-color: var(--secondary-button-border);
  &:hover {
    background: var(--secondary-button-hover) !important;
    color: var(--white) !important
  }
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.ant-message-notice-content {
  max-width: 600px;
}